<style>
	.first_div{
		overflow: hidden; 
		position: relative; 
		background-color: white; 
		width: 909px; 
		height: 1286px;
		font-size:37px;
		font-family:TimesNewRomanPS-BoldItalicMT_z;
		color:#000;
	}
</style>
<style>
	.police-15{
		font-size: 15px;
	}
	.police-18{
		font-size: 18px;
	}
	.police-40{
		font-size: 40px;
	}
	.police-34{
		font-size: 34px;
	}
	.police-25{
		font-size: 25px;
	}
	.police-28{
		font-size: 28px;
	}
	.police-30{
		font-size: 30px;
	}
	.police-37{
		font-size: 30px;
	}
    .police-11{
		font-size: 11px;
	}
</style>


<div style="overflow-y: scroll; height:1286px ;" class="container">

    <!-- Page 1 -->
    <div style="font-style: italic;border: 1px solid;" class="d-flex justify-content-center align-items-center bg-gray mb-3">
    {% include 'rccm/modification/personne_physique/activite/form/1.html' %}
    </div>


    <!-- Page 2 -->
    <div style="border: 1px solid;" class="d-flex justify-content-center align-items-center bg-gray mb-3">
        {% include 'rccm/modification/personne_physique/activite/form/2.html' %}
    </div>


    <!-- Page 3 -->
    <div style="border: 1px solid;" class="d-flex justify-content-center align-items-center bg-gray mb-3">
        {% include 'rccm/modification/personne_physique/activite/form/3.html' %}
    </div>


</div>