{% extends 'backoffice/tools/base.html' %}

{% block title %} Utilisateurs {% endblock title %}

{% block content %}

<div class="pagetitle">
    <h1>Gestion utilisateurs</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
        <li class="breadcrumb-item">RH</li>
        <li class="breadcrumb-item active">Comptes utilisateurs</li>
      </ol>
    </nav>
  </div>
<section class="section py-4">
    <div class="card border-0 shadow-sm rounded-4">
      <div class="card-body p-4 container">
        <h2>Changer mon mot de passe</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
        </form>
        

      </div>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const rhLink = document.getElementById("rh-link");
      if (rhLink) {
        rhLink.classList.add("bg-primary", "text-white");   // activation visuelle
      }
    });
  </script>

{% endblock %}
