{% extends 'start/base.html' %}


{% block title %}Details du role{% endblock title %}

{% block content %}
{% load static %}


<div class="page-wrapper">
    <div class="mb-4" style="display: flex; align-items: center; background: var(--Bleu, #143642); padding: 7px 17px; gap: 10px; width: 100%;">
        <span style="color: var(--Blanc, #FFF); font-family: Jost; font-size: 16px; font-weight: 700;">
            Procédures
        </span>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path d="M2.22229 16.5L7.77771 10.7857L10 8.5L7.77771 6.21433L2.22229 0.5L0 2.78567L5.55543 8.5L0 14.2143L2.22229 16.5Z" fill="white"/>
        </svg>

        <span style="color: var(--Blanc, #FFF); font-family: Jost; font-size: 16px; font-weight: 700;">
            Rôles d'audiences
        </span>

        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path d="M2.22229 16.5L7.77771 10.7857L10 8.5L7.77771 6.21433L2.22229 0.5L0 2.78567L5.55543 8.5L0 14.2143L2.22229 16.5Z" fill="white"/>
        </svg>
        
        <span style="color: var(--Jaune, #DFB23D); font-family: Jost; font-size: 16px; font-weight: 700;">
            Rôle d'audience de fond du {{role.dateEnreg}}
        </span>
    </div>
    <div class="page-body">
        <div class="container-fluid" style="padding-left: 100px; padding-right: 100px;">
            <div class="row g-3">
                <!-- <div class="col-2">
                    <div class="card" style="padding: 8px;">
                        <img src="" width="110" height="130" style="margin-left:17% ;" alt="Tabler" class="mb-3">
                        <a href="" download="" class="btn btn-success btn-pill w-100"
                            title="Telecharger le document original">
                          
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                                <polyline points="7 11 12 16 17 11" />
                                <line x1="12" y1="4" x2="12" y2="16" />
                            </svg> Telecharger
                        </a>
                    </div>
                </div> -->
                <div class="col-12 animate-bottom">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-3 text-center">
                                <p class="h3" style="margin-bottom:-25px ;">COUR D'APPEL DE CONAKRY</p><br>
                                <p style="margin-bottom:-20px ;">..............</p><br>
                                <p class="h3">Tribunal du Commerce de Conakry</p>
                                <p class="h3">{{role.section}}</p><br>
                                <a href="#" {% if not is_greffe  %} hidden {% endif %}  class="btn btn-danger" data-bs-toggle="modal" id="" data-bs-target="#modal-danger" aria-label="" >
                                   <!-- Download SVG icon from http://tabler-icons.io/i/x -->
	                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                                    Supprimer ce rôle
                                </a>
                            </div>
                            <div class="col-9 text-end">
                                <p class="h3">REPUBLIQUE DE GUINEE</p>
                                <address>
                                    Travail - Justice - Solidarite<br>
                                </address>
                            </div>
                            <div class="col-12 my-5" style="text-align:center ;">
                                <p class="h3" style="margin-bottom:-20px ;text-decoration-line:underline">ROLE D'AUDIENCE DU FOND DU {{role.dateEnreg}}</p><br>
                                <p class="h3" style="margin-bottom:-20px ;text-decoration-line:underline;">COMPOSITION
                                    DU
                                    TRIBUNAL</p><br>
                                <p class="h3" style="margin-bottom:-20px;margin-right: 28px;"><span
                                        style="text-decoration-line:underline;">PRESIDENT(E) :</span>
                                    <span>{{role.president}}</span>
                                </p>
                               
                                <br>
                                <p class="h3" style="margin-bottom:-20px ;margin-right: 35px;"><span
                                        style="text-decoration-line:underline">JUGES CONSULAIRES :</span>
                                    <span>{{role.juge}}</span>
                                </p><br>

                                <p class="h3" style="margin-bottom:-20px ;margin-right: 45px;"><span
                                        style="text-decoration-line:underline">GREFFIER(E) :</span>
                                    <span>{{role.greffier}}</span>
                                </p><br>

                            </div>
                        </div>
                        <table class="table table-transparent table-responsive">
                            <div class="card-header">
                                <span class="dropdown">
                                    <button class="btn dropdown-toggle align-text-top show" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="true">Actions</button>
                                    <div class="dropdown-menu dropdown-menu-end " data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(97px, 38px, 0px);">
                                        <a href="#" class="dropdown-item" id="suivre_affaire">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/arrow-forward-up -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2"
                                                stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M15 13l4 -4l-4 -4m4 4h-11a4 4 0 0 0 0 8h1" />
                                            </svg>&nbsp;Suivre
                                        </a>
                                        <a href="#" class="dropdown-item" id="ne_pas_suivre_affaire">
                                           <!-- Download SVG icon from http://tabler-icons.io/i/x -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                                            &nbsp;Ne plus suivre
                                         </a>
                                       
                                    </div>
                                </span>
                                 <!-- Champ de recherche -->
                                 <form class="d-flex ms-auto" method="get" style="float: right;">
                                    {% csrf_token %}
                                    <input type="text" class="form-control me-2" name="search" id="recherche-objet" placeholder="Rechercher un objet..." style="max-width: 400px;">
                                    <button class="btn btn-primary" type="submit">
                                        Rechercher
                                    </button>
                                </form>
                            </div>
                            <thead>
                                <tr>
                                    <th class="w-4">
                                        <input id="select-all" class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices" >
                                    </th>
                                    <th class="text-center" style="width: 5%; font-size:12px;">N° D'ordre</th>
                                    <th style="font-size:12px;">Demandeurs</th>
                                    <th style="font-size:12px;">Défendeurs</th>
                                    <th style="font-size:12px;">Objet</th>
                                    <th style="font-size:12px;">Décisions</th>
                                </tr>
                            </thead>


                            {% for affaire in page_obj %}

                            <tr>
                                <td>
                                    <div class="d-flex align-items-center mb-2">
                                        <input class="form-check-input m-0 align-middle me-2 row-checkbox" type="checkbox" aria-label="Select invoice" value="{{ affaire.id }}">
                                    
                                        {% for a in affaireSuivis %}
                                            {% if a.affaire_id == affaire.id %}
                                                <span class="badge bg-success text-light">déjà suivi</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                        
                                </td>
                                <td class="text-center">{{affaire.numOrdre}}</td>
                                <td>
                                    <p class="strong mb-1">{{affaire.demandeurs}}</p>
                                </td>
                                <td>
                                    <p class="strong mb-1">{{affaire.defendeurs}}</p>
                                </td>
                                <td>
                                    <p class="strong mb-1">{{affaire.objet}} </p>
                                </td>
                                <td>
                                    <a href="{% url 'affaires.details' affaire.idAffaire %}" title="décisions">
                                        Voir les décisions
                                        <!-- Download SVG icon from http://tabler-icons.io/i/arrow-big-right -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                            height="24" viewBox="0 0 24 24" stroke-width="2"
                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
                                        </svg>
                                    </a>
                                </td>
                              
                            </tr>
                            {% endfor %}

                        </table>
                        <div class="pagination mt-3 d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">Précédent</span></li>
                                    {% endif %}
                        
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                        
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">Suivant</span></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <div class="row">
                            <div class="col-6">

                            </div>
                            <div class="col-6 text-end">
                                <p class="h5">Conakry, {{ role.created_at|date:"j F Y" }}</p>
                                <address style="font-size:12px ;">
                                    Le/La Greffier(e)
                                </address>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

            document.getElementById("link_procedure").classList.add("active");
  
    });
</script>

<script>

    function updateRole(name,value,type) {
        $('#field').val('').attr('name', '').attr('type', '');
        $('#field').val(value).attr('name', name).attr('type', type);

    }

    function updateAffaire(name,value,type,idAffaire) {
        $('#field').val('').attr('name', '').attr('type', '');
        $('#idAffaire').val('');

        $('#field').val(value).attr('name', name).attr('type', type);
        $('#idAffaire').val(idAffaire);
    }
    
</script>


{% endblock %}