
{% extends 'start/base.html' %}


{% block title %}Blog{% endblock title %}

{% block content %}
{% load static %}
{% load social_extras %}
{% load user_extras %}



<style>
    .post-preview {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
        margin-bottom: 30px;
    }

    .post-preview:hover {
        transform: translateY(-5px);
    }

    .post-title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .post-subtitle {
        font-size: 1.2rem;
        color: #6c757d;
    }

    .post-meta {
        font-size: 0.9rem;
        color: #adb5bd;
    }

    .post-image {
        width: 100%;
        height: auto;
        max-height: 300px; /* Limite la hauteur maximale de l'image */
        border-radius: 8px;
        object-fit: cover; /* Garde l'image centrée si elle dépasse la hauteur */
        border-radius: 8px;
    }

    .content-section {
        padding: 15px;
    }
</style>


<div class="page-wrapper" style="background-color: white;">
    <!-- <div style="display: flex;  width: 100%; padding: 7px 1210px 8px 17px; align-items: center; background: var(--Bleu, #143642);">
         <span style="color: var(--Blanc, #FFF); font-family: Jost; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal;">
            Divers
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
            <path d="M2.22229 16.5L7.77771 10.7857L10 8.5L7.77771 6.21433L2.22229 0.5L0 2.78567L5.55543 8.5L0 14.2143L2.22229 16.5Z" fill="white"/>
        </svg> 
        <span style="color: var(--Jaune, #DFB23D); font-family: Jost; font-size: 16px; font-style: normal; font-weight: 700; line-height: normal;">
            Actualités
        </span>
      </div> 
    -->


     <!-- PUB HAUT DE PAGE -->
     {% include 'start/partials/pub_header.html' %}

     <!-- ACTUALITÉS SECTION -->
     <div class="container my-3">
        <h1 class="mb-4 display-4 text-start" style="color: var(--Bleu, #143642); font-family: Jost; font-weight: 600;">
            Actualités Judiciaires
        </h1>
        

        <!-- Carte Actualité 1 -->
        
        {% if last_post_news %}
            
        <div class="col-md-12 mb-2">
            <div class="card p-3" style="border: none; box-shadow: none;">
                <div class="row g-3"> <!-- row séparé pour les colonnes -->
                    <div class="col-md-7">
                         {% if last_post_news.first.image %}
                        <img src="{{ last_post_news.first.image.url }}" 
                            class="card-img-top" 
                            alt="Actu 1" 
                            style="height: 400px; object-fit: cover; border-radius: 15px; overflow: hidden;">
                        {% endif %}
                    </div>
                    <div class="col-md-5 d-flex flex-column">
                        <div>
                            {% if last_post_news.first.author|has_group:"Contributeur" %}
                            <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
                                <span style="font-family: Jost; font-weight: 700; color: #143642;">
                                    {% if last_post_news.first.author.photo %}
                                        <img src="{{ last_post_news.first.author.photo.url }}"
                                            alt="{{ last_post_news.first.author.username }}"
                                            style="width: 34px; height: 34px; border-radius: 50%; object-fit: cover; margin-right: 5px; border: 1px solid">
                                    {% elif last_post_news.first.author|social_avatar %}
                                        <img src="{{ last_post_news.first.author|social_avatar }}"
                                            alt="{{ last_post_news.first..author.username }}"
                                            style="width: 34px; height: 34px; border-radius: 50%; object-fit: cover; margin-right: 5px; border: 1px solid">
                                    {% else %}
                                        <img src="{% static 'start/assets/statics/logo-icon.png' %}"
                                            alt="{{ last_post_news.first.author.username }}"
                                            style="width: 34px; height: 34px; border-radius: 50%; object-fit: cover; margin-right: 5px; border: 1px solid">
                                    {% endif %}
                
                                    {{ last_post_news.first.author.first_name }} {{ last_post_news.first.author.last_name }}
                                </span>
                                <a href="#" style="color: gray; font-weight: 700;">Il y'a {{ last_post_news.first.created_at|timesince }} </a>
                                  <!-- Photo de profil -->  
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
                                <span style="font-family: Jost; font-weight: 700; color: #143642;">
                
                                        <img src="{% static 'start/assets/statics/logo-icon.png' %}"
                                            alt="{{ post.author.username }}"
                                            style="width: 34px; height: 34px; border-radius: 50%; object-fit: cover; margin-right: 5px; border: 1px solid">
                
                                   Judicalex Guinée
                                </span>
                                <a href="#" style="color: gray; font-weight: 700;">Il y'a {{ last_post_news.first.created_at|timesince }} </a>
                                  <!-- Photo de profil -->  
                            </div>
                
                            {% endif %}
                            <h5 class="card-title" style="font-family: Jost; font-weight: 700; color: #143642;">
                                {{ last_post_news.first.title|truncatechars:120 }}
                            </h5>
                            <p class="card-text" style="font-family: Jost; font-size: 15px; color: #555;">
                                {{ last_post_news.first.content|striptags|truncatechars:900|safe }}
                            </p>
                        </div>
                         <!-- Ligne Commentaires + Partage + Lire plus -->
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <span style="font-family: Jost; font-size: 14px; color: #888;">
                                <i class="fa fa-comment"></i> {{ last_post_news.first.comments.count }} commentaire(s)
                            </span>
                           
                            <a href="{% url 'blog.post_detail' last_post_news.first.slug %}" style="color: #DFB23D; font-weight: 700;">Lire plus</a>
                        </div>
                            <!-- Carte Partage avec nombre de partages -->
                        <div class="share-section mt-3 position-relative">
                            <div class="d-flex justify-content-between align-items-center">
                            <!-- Nombre de partages -->
                            <span style="font-size: 13px; color: gray;">
                                <i class="fa fa-share-alt"></i> {{ last_post_news.first.shares }} partage(s)
                            </span>
                        
                            <!-- Bouton Partager -->
                            <button class="btn-share-pro" onclick="toggleShareOverlay(this)">
                                <i class="fa fa-share-alt"></i> Partager
                            </button>
                            </div>
                        
                            <!-- Overlay menu -->
                            <div class="share-overlay">
                            <a href="{% url 'share_post' last_post_news.first.slug 'facebook' %}" target="_blank" class="fb" title="Facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="{% url 'share_post' last_post_news.first.slug 'twitter' %}" target="_blank" class="tw" title="X (Twitter)">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="{% url 'share_post' last_post_news.first.slug 'whatsapp' %}" target="_blank" class="wa" title="WhatsApp">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="{% url 'share_post' last_post_news.first.slug 'linkedin' %}" target="_blank" class="li" title="LinkedIn">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
    
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        
    
        <div class="row g-4 mb-4">
            {% for post in last_post_news %}
                    
            <!-- Carte Actualité 1 -->
            {% include "blog/partials/post_single.html" %}

            {% empty %}
                <p>Aucun article disponible</p>
            {% endfor %}
    
        </div>


    </div>

    <div class="container my-5">

        <div class="col-md-12 row">
       
            <div class="col-md-9">
                <div class="row g-4 mb-4">
                
                    {% for post in old_post_news %}
                    
                    <!-- Carte Actualité 1 -->
                    {% include "blog/partials/post_single_mini.html" %}

                    {% empty %}
                        <p>Aucun article disponible</p>
                    {% endfor %}
            
                </div>
                <!-- Pagination news -->
                <nav>
                    <ul class="pagination">
                    {% if old_post_news.has_previous %}
                        <li class="page-item"><a class="page-link" href="?news_page={{ old_post_news.previous_page_number }}">Précédent</a></li>
                    {% endif %}
                
                    {% for num in old_post_news.paginator.page_range %}
                        <li class="page-item {% if old_post_news.number == num %}active{% endif %}">
                        <a class="page-link" href="?news_page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                
                    {% if old_post_news.has_next %}
                        <li class="page-item"><a class="page-link" href="?news_page={{ old_post_news.next_page_number }}">Suivant</a></li>
                    {% endif %}
                    </ul>
                </nav>

            </div>
            
           <!-- PUB LATERAL -->
            <div class="col-md-3">
                {% include 'start/partials/pub_lateral.html' %}
            </div>


        </div>
        {% if last_post_contrib %}
        <div class="container my-4">
            <h2 class="text-left mb-4"
                    style="
                    font-family: 'Jost', sans-serif; 
                    font-size: 36px; 
                    font-weight: 700; 
                    color: #fff;
                    padding: 12px 24px;
                    border-radius: 10px;
                    background: linear-gradient(60deg, #2C3E50 0%,  #ECF0F1 100%);
                    color: #fff;
                    

                    letter-spacing: 1px;
                    ">
                Contributions
            </h2>
        
            <div class="row g-4 mb-4">
            
                
                {% for post in last_post_contrib %}
                
                    <!-- Carte Actualité 1 -->
                    {% include "blog/partials/post_single.html" %}

                {% endfor %}
            
        
            </div>
            <!-- Pagination contributions -->
            <nav>
                <ul class="pagination">
                {% if last_post_contrib.has_previous %}
                    <li class="page-item"><a class="page-link" href="?contrib_page={{ last_post_contrib.previous_page_number }}">Précédent</a></li>
                {% endif %}
            
                {% for num in last_post_contrib.paginator.page_range %}
                    <li class="page-item {% if last_post_contrib.number == num %}active{% endif %}">
                    <a class="page-link" href="?contrib_page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
            
                {% if last_post_contrib.has_next %}
                    <li class="page-item"><a class="page-link" href="?contrib_page={{ last_post_contrib.next_page_number }}">Suivant</a></li>
                {% endif %}
                </ul>
            </nav>

        </div>
    {% endif %}

    </div>
   
</div>

<!-- Lien vers Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

            document.getElementById("link_actualite").classList.add("active");
  
    });
</script>

{% endblock %}