{% extends 'start/base.html' %}


{% block title %}Rccms{% endblock title %}

{% block content %}
{% load static %}


<section id="content" class="content">
   <div class="content__header content__boxed rounded-0">
      <div class="content__wrap mb-3">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item fs-4"><a href="#" class="nav-toggler" aria-label="Nav Toggler">Menu</a></li>
               <li class="breadcrumb-item fs-4"><a href="{% url 'rccm.list' %}">RCCM</a>
               </li>
               <li class="breadcrumb-item active fs-4" aria-current="page">Nouveau RCCM</li>
            </ol>
         </nav>

      </div>

   </div>


   <div class="content__boxed">
      <div class="content__wrap">
         <div class="col-md-12 container">
            <h2 class="mt-5 mb-3 text-center text-success"><i class="demo-pli-information"></i> Félicitation</h2>
            <!-- Form wizard with validation -->
            <div class="card div1">
              
               <div class="card-body">

                     <!-- Submit state -->
                     <section data-step="finish" 
                         class="text-center">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                           <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                           <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                        <p class="h3">Vous avez enregistré le formulaire avec succès !</p>
                        <div class="mt-4 d-flex flex-wrap justify-content-center gap-2">
                           <a href="{% url 'rccm.list' %}" type="button" class="btn btn-primary rounded-pill" ><i class="demo-pli-file"></i> RCCMs</a>
                           <a href="{% url 'rccm.upload_pdf' %}" type="button" class="btn btn-secondary rounded-pill"><i class="demo-pli-add"></i> Créer à nouveau</a>
                        </div>
                     </section>
                     <!-- END : Submit state -->


               </div>
            </div>
            <!-- END : Form wizard with validation -->
   
         </div>
      </div>
   </div>


  

</section>


<script>
   $(document).ready(function() {
       $('#nav-rccm').addClass('bg-primary text-white');
       $('#txt-rccm').addClass('text-white');
   });
</script>



{% endblock %}