{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %} {% endblock title %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% include 'backoffice/tools/css.html' %}
</head>

<body>

  <!-- ======= Header ======= -->
    {% include 'backoffice/tools/header.html' %}
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% load user_extras %}
  {% if request.user|has_group:"Administrateur" %}

      {% include 'backoffice/tools/admin-sidebar.html' %}

  {% elif request.user|has_group:"Pigiste" %}

      {% include 'backoffice/tools/pigiste-sidebar.html' %}

  {% elif request.user|has_group:"Collaborateur" %}

      {% include 'backoffice/tools/collaborateur-sidebar.html' %}

  {% endif %}

  <!-- End Sidebar-->

  <main id="main" class="main">

    {% for message in messages %}
    <div>
      {% if message.tags == "error" %}
      <div class="alert alert-danger alert-dismissible fade show rounded-5 bg-danger" role="alert">
        <strong  style="color: white;">{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      {% elif message.tags == "success" %}
      <div class="alert alert-success alert-dismissible fade show rounded-5 bg-success" role="alert">
        <strong style="color: white;">
          {{ message }}
          <i class="fa fa-check-circle"></i>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% elif message.tags == "info" %}
      <div class="alert alert-info alert-dismissible fade show rounded-5 bg-info" role="alert">
        <strong style="color: white;">
          {{ message }}
          <i class="fa fa-check-circle"></i>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endif %}
    </div>
    {% endfor %}

    {% block content %}{% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer>End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% include 'backoffice/tools/js.html' %}

</body>

</html>