<div class="row g-3">
    <div class="col-md-12 position-relative" style="height: 900px; width: 363px; overflow: hidden; border-radius: 10px;">
        
        {% for ad in ads_lateral %}
        <img src="{{ ad.image.url }}" 
             class="fade-pub {% if forloop.first %}active{% endif %}" 
             alt="Pub" 
             style="height: 100%; width: 100%; object-fit: cover; position: absolute; top:0; left:0;">
        {% endfor %}
    </div>
</div>

<style>
.fade-pub {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-pub.active {
    opacity: 1;
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const pubs = document.querySelectorAll(".fade-pub");
    let index = 0;

    setInterval(() => {
        pubs[index].classList.remove("active");
        index = (index + 1) % pubs.length;
        pubs[index].classList.add("active");
    }, 10000); // change toutes les 5s
});
</script>
